html, body {
  height: 100%;
  width: 100%;
      font-family: 'Oswald', sans-serif;
    background-color: #146c22;
    text-align: center;
}

img {
    width: 400px;
  border-radius: 10px;
}

.result {
  padding-bottom: 200px;
}